<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>887252136076-2ekphd061gbneijaemt90ncehrs552md.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.887252136076-2ekphd061gbneijaemt90ncehrs552md</string>
	<key>API_KEY</key>
	<string>AIzaSyD2T7DQN_HmL5MSRzSP7j-UzxrQyFGPd2c</string>
	<key>GCM_SENDER_ID</key>
	<string>887252136076</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gtkFlutter</string>
	<key>PROJECT_ID</key>
	<string>flutterfire-ui-codelab-2035f</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterfire-ui-codelab-2035f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:887252136076:ios:de0527b5b24cc59c06cba9</string>
</dict>
</plist>